/* for getting the pages to go fullscreen when using tabs*/
.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.pagehome{
    width: auto;
    height: 100%;
}

img{
  height: auto;
  justify-content: center;
  display: flex;
}